<div class="ui top fixed menu" id="admin-main-menu">
  <a class="item" href="/admin">
    <img src="/img/admin/logo-ttm.png">
  </a>
  <a class="item <% if(data.page === 'monitor'){ %>active<%}%>" href="/admin">Monitor</a>
  <a class="item <% if(data.page === 'aggregator'){ %>active<%}%>" href="/admin/aggregator">Aggregator</a>
</div>